---
import '../styles/globals.css';
import { Navbar, Footer, HomeContent } from '@/components';
import HeroImage from '@/assets/t.png';
import { Image } from 'astro:assets';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Himauntika 2024 🔥</title>
	</head>
	<body>
		<div class="flex flex-col h-screen">
			<Navbar client:load/>
			
			<div class="flex-grow w-full flex items-center justify-center">
				<Image src={HeroImage} alt="" width={550} class="opacity-50 dark:opacity-25 fixed -z-40 max-lg:hidden" />
				<div class="w-[50rem] h-[50rem] -z-50 fixed max-lg:hidden" style={{ background: 'radial-gradient(circle, rgba(0,251,255,0.09) 0%, rgba(99,171,255,0) 70%)' }}></div>
				<HomeContent client:visible/>
			</div>

			<Footer/>
		</div>
	</body>
</html>
